body {
}

#star{
    filter: brightness(0) invert();
    max-height: 100%;
}

.container{
    display: flex;
    height: 100vh;
}

.left{
    width: 30vw;
    background-image: url(images/night-sky.jpeg);
}

.right{
    width: 70vw;
}

.logo-header{
    background-color: black;
    opacity: 0.7;
    height: 10%;
    margin-top: 80%;
    display: flex;
    align-items: center;
}

#header-text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}

.header{
    background-color: rgba(237, 240, 242, 0.84);
    padding-top: 10%;
    height: 20vh;
    font-size: 1.2rem;
    padding-left: 2%;
}

#second-line{
    font-style: italic;

}

.form{
    padding-left: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    display: flex;
    flex-wrap: wrap;
}

.form > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    width: 100vw;
}

.input{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.footer{
    background-color: rgba(237, 240, 242, 0.84);
    height: 30vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 2%;
    padding-top: 2%;
}
